<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-4">
      <div class="card border-info">
        <div class="card-header">Login</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form method="post" enctype="multipart/form-data" onsubmit="return false;">
                <input type="text" class="form-control mb-2" placeholder="Email" #userEmail  required autofocus>
                <input type="password" class="form-control mb-2" placeholder="Password" #userPassword required>
                <button class="btn btn-lg btn-primary btn-block mb-1"  (click)="authService.login(userEmail.value, userPassword.value)">Login</button>
              </form>
              <span class="float-left"><a href="/forgot-password">Forgot Password?</a></span>
              <span class="float-right"><a href="/register">Not Registered?</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
